* {
    box-sizing: border-box;
}

body {

    
    margin: 0;
}

/* this is logo section */
.logo {
    margin-left: 10px;
    float: left;
    color: #000;
    width: auto;
    font-size: 14px;
    height: auto;
}

/* this is header section */
.header {
    width: 100%;
    text-align: center;
    font-size: 30px;
    

}

.header h1 {
    font-size: 50px;
    margin-top: 20px;
}

/* this is navigation section */
.topnav {
    overflow: hidden;
    background-color: #333;
}

/* style the topnav links */

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
    margin-left: 25px;
    text-decoration: #ddd;
    font-size: large;
}

/* change color on  hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Create three equal colums that floats next to each others */
.column {
    float: left;
    width: 33.33%;
    padding: 15px 10px;
}

/* Clear floats after the colmums */
.row::after {
    content: "";
    display: table;
    clear: both;
}
.img{
    border:1px solid #ddd;
    border-bottom: #333;
    border-radius: 2px;
    padding:5px;
    width: 180px;
    height: 180px;
}

.footer {

    background:rgb(129, 123, 123);
    text-align: center;
    padding: 20px;
    
}

/* Responsive layout - when the screen is less the 800px  wide,make the two column stack on top of each ohter instead */
@media screen and (max-width:600px) {
    .column {
        width: 100%;
    }
}